<link rel="stylesheet" href="cascade/chatboard.css">
<ul class="topnav">
    <li><a href="home">Home</a></li>
    <li><a href="manage">Manage Users</a></li>
    <li><a href="register">Register User</a></li>
    <li><a href="logout">Logout</a></li>
</ul>