<link rel="stylesheet" href="cascade/chatboard.css">
<ul class="topnav">
    <li><a href="home">Home</a></li>
    <li><a href="mychats">My Chats</a></li>
    <li><a href="settings">Settings</a></li>
    <li><a href="logout">Logout</a></li>
</ul>