<link rel="stylesheet" href="cascade/chatboard.css">
<link rel="stylesheet" href="cascade/switch.css">
<link rel="stylesheet" href="cascade/table.css">
<script src="Script/manage.js"></script>
{{>adminNav}}
<div id="list"><table id="messageList"></table></div>